// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-green: #d8e183;
$dark-green: #346C5E;
$dark-green-lighter: #4a8375;
// #2B6657;
$light-yellow:rgb(255, 226, 148);
$light-yellow-banner: rgba(251, 245, 227, 0.589);
$light-banner: rgb(241, 240, 224);
$light-brown: rgb(105, 82, 71);
$light-blue: #b1c9e3;
$light-blue-darker: #9bbce0;
$dark-green-banner: #61ad9adf;
$dark-green-banner-lighter: #346c5e16;
// #FFBE0B;
