
.banner {
  height: 250px;
  // padding-top: 30px;
  // padding-bottom: 25px;
  // justify-content: center;
  // text-align: center;
  // display: flex;
  background-size: cover;
  background-position: center;
  background-image: url("https://res.cloudinary.com/dhejoj1is/image/upload/v1726751939/yellow_circle_qim3n1");
  h1 {
    color: #FFFFFF;
    // opacity: .8;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight:500;
    letter-spacing: 17%;
    text-align: center;
  }
  h2 {
    color: #513629;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    opacity: .7;
    text-align: center;
    padding-bottom: 20px;
  }
}

.link {
  background-color: rgba(212, 224, 155, 55);
  // opacity: 55;
  border-radius: 15px;

  // #d4e09b;
}

.wavy-link {
  font-family: Poppins, sans-serif; /* You might need to change this to a valid font-family */
  font-size: 16px;
  overflow: hidden;
  padding: 7px 0;
  position: absolute; /* Ensure the absolute elements are positioned relative to the link */
  text-decoration: none;
  color: #513629;
  padding:8px;
}
// rgb(227, 101, 73);

.link__graphic {
  position: absolute;
  padding: 8px;
  top: 0;
  left: 0;
  // width: 100%;
  pointer-events: none;
  fill: none;
  stroke: #513629;
  // rgb(115, 64, 96);
  // #d8e183;
  // rgba(255, 225, 27, 0.108);
  stroke-width: 3px;
  // #000;
}

.link__graphic--slide {
  top: -3px;
  stroke-width: 3px;
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.wavy-link:hover .link__graphic--slide {
  transform: translate3d(-66.6%, 0, 0);
}
.sticky-footer {
  margin-top: auto; /* Push the footer to the bottom */
}
