

<%#= link_to recipe_path(@recipes), class: "btn btn-flat" %>
<!--<div class="banner">-->
<div class="container text-center">
<h1> Recipe Book </h1>
</div>

</div>
  <div class="container">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe.title, recipe_path(recipe), class: "link-recipe" %>
    <% end %>
     <%= link_to "Add a recipe", new_recipe_path, class: "btn btn-purple" %>
  </div>
