<footer class="bg-light mt-4 py-3 sticky-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0"><strong>Address:</strong> NibbleNotes @ 121 Stellenbosch Drive, Cape Town</p>
        <p class="mb-0"><strong>Email:</strong> <a href="mailto:info@nibblenotes.me">info@nibblenotes.me</a></p>
        <p class="mb-0"><strong>Telephone:</strong> 021 111 4444</p>
      </div>
    </div>
  </div>
</footer>
