<footer class="bg-light mt-4 py-3 sticky-footer">
  <div class="container-footer">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">Address: NibbleNotes @ 121 Stellenbosch Drive, Cape Town</p>
        <p class="mb-0">Email: <a href="mailto:info@nibblenotes.me">info@nibblenotes.me</a></p>
        <p class="mb-0">Telephone: 021 111 4444</p>
      </div>
    </div>
  </div>
</footer>
