<footer class="bg-light p-3 sticky-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0">Address: NibbleNotes @ 121 Stellenbosch Drive, Cape Town, South Africa</p>
        <p class="mb-0">Email: <a href="mailto:info@nibblenotes.me">info@nibblenotes.me</a></p>
        <p class="mb-0">Telephone: 021 111 4444</p>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-pinterest"></i>
      </div>
    </div>
  </div>
</footer>
