.container-heading h2 {
  color:rgb(58, 58, 55);
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: peachi, "hoefler text", baskerville, Georgia, Times, sans-serif;
  font-size: 36px;
  text-align: center;
  // border-bottom: #fd8aaa;
  // border-bottom-width: 20px;
  // border-bottom-color: #fd8aaa;
}

.edit-info {
  margin-left: 15px;
  margin-right: 15px;
}

.recipe-edit-page {
  background-color: $background-soft;
}
