// .background {
//   background-color: rgb(241, 240, 224);
// }
.recipe-index-page {
  background-color: $background-soft;
}

.recipe-banner {
  height: 250px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  background: radial-gradient(circle, #f6d365 0%, #fda085 50%, #a1c4fd 100%);
  width: 100%;
  height: 300px;
  // background-size: cover;
  // background-position: center;
  h1 {
    font-family: 'Poppins', sans-serif;
    // "hoefler text", baskerville, Georgia, Times, sans-serif;
    color: whitesmoke;
    letter-spacing: 1px;
    font-weight: 400;
    // rgb(58, 58, 55);
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }
.recipe-card {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 18px; /* gap between each individual card */
  row-gap: 14px; /* gap between each row of cards */
  align-items: stretch;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  background-color:transparent;
  // min-height: 300px;
}

.recipe-block {
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // space-between;
  // min-height: 350px;
  overflow: hidden;
  border-radius: 8px; /* Rounded corners */
  // margin-top: 10px;
  // padding: 1rem;

  // background-color: rgb(244, 243, 234);
  // background-size: cover;
  // rgb(244, 243, 234);
}

.recipe-card-info {
  // padding: 0.5rem; /* ADD THIS IF WANT PHOTOS NOT TO FIT ENTIRE CARD */
  background-color: rgb(244, 243, 234);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; /* Smooth transition for hover */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

// .recipe-card-info p {
//   // color:rgb(58, 58, 55);
//   color:blue;
//   // font-weight: normal;
//   // font-family: 'Poppins', sans-serif;
//   // font-size: 14px;
//   // margin-top: 8px;
// }

.recipe-card-info:hover {
  border-color: $light-gray;
  background-color: rgb(244, 243, 234);
  text-decoration: none;
  // border: 1px solid #ddd;
  // #ff6347; /* Change border color on hover */
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
  transform: translateY(-5px); /* Slight upward movement */
  border-radius: 8px;
  // transform: scaleX(0);
  // transition: transform 0.3s ease;
}

.recipe-photo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin: 0;
  border-radius: 5px;
}

.recipe-index-title {
  text-decoration: none;
  color: rgb(58, 58, 55);
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin-top: 5px;
  // margin-bottom: 5px;
  //  rgb(58, 58, 55);
  // font-family: peachi, "hoefler text", baskerville, Georgia, Times, sans-serif;
  // font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // margin-bottom: 1rem;
  // margin-top: 1rem;

}

.private-icon {
  margin-left: 8px;
  color: $dark-green-lighter;
  font-size: 14px;
}

.recipe-tags {
  // margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  // justify-content: flex-start;
  gap: 0.5rem;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  // cursor: none;
}

// .tag {
//   display: inline-block;
//   background-color: #e0e0e0;
//   color: rgb(58, 58, 55);
//   padding-left: 8px;
//   padding-right: 8px;
//   font-size: 0.875rem;
//   // margin-right: 5px;
//   border-radius: 1rem;
// }

// .tag.public {
//   background-color: $light-green;
//   color: rgb(58, 58, 55);
// }

// .tag.private {
//   background-color: #fd8aaac9;
//   color: rgb(58, 58, 55);
// }


.category-tag {
  display: inline-block;
  // padding: 0.5rem 1 rem;
  padding-left: 8px;
  padding-right: 8px;
  // margin: 0.25rem;
  border-radius: 1rem;
  background-color: $light-yellow;
  // border: 2px solid #fd8aaa;
  color: rgb(58, 58, 55); /* Text color */
  font-size: 14px; /* Adjust font size as needed */
  // text-transform: capitalize; /* Capitalize tag text */
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor:auto;
}

.category-tag:hover {
  background-color: #fd8aaa;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  color: #f40011;
}

.buttons-container {
  // margin-top: 1rem;
  margin-bottom: 1.5rem;
  justify-content: left;
  // margin-top: 3px;
  // padding-left: 10px;
  // padding-right: 10px;
  // margin-left: 3px;
}


/* smallest device */
@media (min-width: 100px) and (max-width: 575px) {
  .recipe-card {
    grid-template-columns: 1fr;
  }
}

/* medium device, tablets */
@media (min-width: 768px) {
  .recipe-card {
    grid-template-columns: 1fr 1fr;
  }
}

/* large device, desktop screens */
@media (min-width: 992px) {
  .recipe-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* extra large devices, large desktops */
@media (min-width: 1200px) {
  .recipe-card {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.category-filter nav ul {
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap; /* allows categories to wrap on new line if there's lots */
  justify-content: flex-start; /* will align items to left as default instead of filling up whole bar */
  gap: 0.5rem; /* adds space between items instead of using marging */
  list-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
  // #f7f7f7;
  // border-bottom: 2px solid $dark-green-banner; /* border thickness, style, color */
  // border-top: 2px solid $dark-green-banner;
  // border-radius: 2px;
}

/* category list items */
.category-filter nav ul li {
  // margin: 0 1rem; /* add space between each category */
  flex: 0; /* prevents items from stretching to fill space */
}

/* category links */
.category-filter nav ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #333;
  padding: 0.5rem;
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap; /* prevents long names from wrapping */
  // background-color: lightpink;
  // border: 1px solid #ddd;
  // border-radius: 4px;
}

/* Underline effect on hover */
.category-filter nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* thickness of line */
  background-color: #2B6657; /* color of the underline */
  // #ff6437;
  transform: scaleX(0); /* will be hidden by default */
  transition: transform 0.3s ease; /* makes smoother transition */
  // border: 1px solid #ddd;
  // margin-bottom: 1rem;
  // padding: 1rem;
}

/* Shows underline on hover */
.category-filter nav ul li a:hover::after {
  transform: scaleX(1); /* reveals the underline on hover */
}

/* changes text colour on hover */
.category-filter nav ul li a:hover {
  color: #2B6657; /* same colour as underline */
  // #ff6437;
}
