.category-name {
  font-family: Poppins, sans-serif;
  // font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 13px;
  font-weight: normal;
  // background-color: rgb(242, 172, 164);
  background-color: $light-yellow;
  color: rgb(58, 58, 55);
  // letter-spacing: 2.1px;
  display: inline-block;
  cursor: auto;
  background-clip: border-box;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  // position: relative;
}

.category-name:hover {
  background-color: #fd8aaa;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  color: #f40011;
}
// rgb(58, 58, 55);
.recipe-container h1 {
  font-size: 36px;
  font-family: peachi, "hoefler text", baskerville, Georgia, Times, sans-serif;
  text-align: center;
  color:rgb(58, 58, 55);
  margin-top: 30px;
  margin-bottom: 30px;
}

.recipe-container h2 {
  // font-family: peachi, "hoefler text", baskerville, Georgia, Times, sans-serif;
  font-size: 25px;
  color:rgb(41, 41, 38);
}

.category-list {
  margin-bottom: 25px;
  margin-top: 15px;
}

.container-ingredients {
  margin-top: 15px;
  margin-bottom: 25px;
}

.container-description {
  margin-top: 25px;
  margin-bottom: 25px;
}

.container-notes {
  background-color: #fae8b6b9;
  // background-color: rgba(246, 255, 167, 0.781);
  // background-color: rgb(242, 242, 242);
  border-top: 20px;
  border-radius: 5px;
  color:rgb(41, 41, 38);
  // justify-content: center;
  // opacity: .7;
}

.container-notes h2 {
  text-align: center;
  // margin-bottom: 15px;
  // margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  background-color: rgba(244, 243, 234, 0.555);
  // color: rgba(0, 0, 0, 0.505);
}

.container-notes p {
  font-size: 15px;
}
// .btn-primary {
//   border-radius: 5px;
// }

.btn-delete {
  background: transparent;
  border: none;
  color: $light-yellow;
}

.btn-delete:hover {
  background:transparent;
  border: none;
  color: #f40011;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.btn-edit {
  background: transparent;
  border: none;
  color: #f40011;
}
