.sticky-footer {
  margin-top: auto; /* Push the footer to the bottom */
  bottom: 0
}

.container-footer {
  background-color: $background-soft;
  color: $light-brown;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 0px;
  // font-family:Georgia, 'Times New Roman', Times, serif;
}

.container-footer a {
  color: $dark-green-lighter;
}
