
<div class="container mt-4">
  <h1 class="mb-4"><%= @category.name %></h1>

  <h2>Recipes in this category</h2>
  <div class="row">
    <% @category.recipes.each do |recipe| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.title %></h5>
            <p class="card-text"><%= truncate(recipe.method, length: 100) %></p>
            <%= link_to "View Recipe", recipe_path(recipe), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
